<app-toolbar-component></app-toolbar-component>
<div class="alig-div">
    <form>
        <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Nome">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Tipo">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <input matInput disabled placeholder="Nome do arquivo">
        </mat-form-field>
    </form>
    <button mat-raised-button>
        <span style="padding: 10px;">Upload</span>
        <mat-icon style="color: #0989E3;" matSuffix>cloud_upload</mat-icon>
    </button>
</div>