<p>
    <mat-toolbar style="background-color: #0989E3;">
        <button mat-button>
            <span class="button-tollbar">Home</span>
        </button>
        <button mat-button>
            <span class="button-tollbar">Upload</span>
        </button>
        <button mat-button>
            <span class="button-tollbar">Register</span>
        </button>
        <button mat-button>
            <span class="button-tollbar">Collection</span>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="button-tollbar">
            <mat-icon>build</mat-icon>
        </button>
        <button mat-icon-button class="button-tollbar">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
</p>