.mae {
    margin: auto;
    width: 60%;
    padding: 10px;
    // height: 60%;
}

.button-registro {
    width: 120px;
    height: 40px;
    color: #0989E3;
    font-size: 15px;
}

.align-header{
    margin-left: 0px;
    text-align: left;
}

.button {
    display: flex;
    justify-content: flex-end;
}